.layout--single .page__content {
    background: inherit !important;
}

@media (min-width: 64em) {
    .layout--single .page__content {
        width: 950px !important;
    }

    .layout--single .page__content p {
        font-size: 0.85em !important;
        line-height: 1.7;
    }
}

.page__content .MathJax_Display {
    text-align: center !important;
}

.page__content mjx-container[display="true"] {
    margin-left: auto !important;
    margin-right: auto !important;
}
