/* TEST: this should make the article background light red */
.layout--single .page__content {
    background: #fff0f0 !important;
}

/* Make the article wider */
@media (min-width: 64em) {
    .layout--single .page__content {
        max-width: 950px !important;
        width: 950px !important;
    }

    /* Reduce article text size */
    .layout--single .page__content p {
        font-size: 0.85em !important;
        line-height: 1.7;
    }
}
